
<span id="assembly">
<div id="buttons">
<button
  md-mini-fab
  id="topButton"
  (click)="addTenant()"
  color="accent"
  [disabled]="count > 10">+</button>
<br>
<button
  md-mini-fab
  (click)="removeTenant()"
  color="primary"
  [disabled]="count < 2">-</button>
</div>

<md-card
class="card"
*ngIf = "!submitted">
  <ul class = "list">
    <li *ngFor="let tenant of tenants">
      <md-input-container
        class = "cardItem">
        <input
          mdInput
          [(ngModel)]="tenant.name"
          placeholder="Tenant Name">
      </md-input-container>
      <h3
        class = "cardItem">$</h3>
      <md-input-container
        class = "cardItem">
        <input
          mdInput
          [(ngModel)]="tenant.paid"
          placeholder="Amount Paid">
      </md-input-container>
    </li>
    <button
      md-raised-button
      class = "center"
      color = "primary"
      [disabled] = "!valid()"
      (click) = "submit()">Who pays who?</button>
  </ul>
</md-card>

<md-card
class = "card"
*ngIf = "submitted">
  <md-card-header
   id = "cardHeader">
    <md-card-title>For the month of {{getMonth()}}:</md-card-title>
    <md-card-subtitle>Total Utilities: {{total}} | Cost per Tenant: {{ave}}</md-card-subtitle>
  </md-card-header>
  <md-card-content ngFor = "let string of output">
    <ul
    *ngFor = "let string of output"
    class = "list"
    id = "resultList">
      <li>{{string}}</li>
    </ul>
  </md-card-content>
  <md-card-actions
   id = "actions">
    <button
    md-raised-button
    (click) = "ngOnInit()">Restart</button>
    <button
    md-raised-button>Copy to Clipboard</button>
    <button
    md-raised-button>Email</button>
  </md-card-actions>
</md-card>
</span>
